@model BankingApp.AuthServer.ViewModels.ChangePasswordViewModel;
<h1>Change password</h1>

<form asp-controller="Auth" asp-action="ChangePassword" method="post">
    <div asp-validation-summary="All"></div>

    <div>
        <label>Email</label>
        <input asp-for="Email" autofocus />
    </div>
    <div>
        <label>Current password</label>
        <input asp-for="CurrentPassword" />
    </div>
    <div>
        <label>New password</label>
        <input asp-for="NewPassword" />
    </div>
    <div>
        <label>Confirm new password</label>
        <input asp-for="ConfirmNewPassword" />
    </div>
    <p>
    <p>
        <button type="submit">Registr</button>
    </p>
</form>